*, *::after, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'shadows_into_lightregular';
    src: url('shadowsintolight-regular-webfont.woff2') format('woff2'),
         url('shadowsintolight-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0px;
}

body {
    background-color: #df7aec;
}

#title {
    font-family: shadows_into_lightregular;
    margin: 0px;
    justify-self: center;
}

#header {
    background-color: #FFCF00;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin: 5px;
}

h2 {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

[id^="project"]{
    background-color: #FF440F;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

[id^="projectImage"]{
    background-color: #00BD9D;
}

#aboutMe {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

#aboutMeText{
    background-color: #FF440F;
}

#contactMe {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 40px 1fr;
    margin: 5px;
}

[id^="contactInfo"]{
    display: flex;
    flex-direction: row;
    align-items: center;
}